body{
margin:0;
padding: 0;
font-family: Arial;

}
*{
	box-sizing: border-box;
}

.product-slbody .container {
padding:14px 0 14px 0;
background-color: #EEE;

}
.product-slbody .container .cortain{
width:100%;
overflow: hidden;
user-select: none;
position: relative;
}
.product-slbody .container .cortain .convoy{
width: 100%;
float: left;
}
.product-slbody .container .cortain .convoy .content{
border-radius: 5px;
overflow: hidden;
height:auto;
float: left;
position: relative;
}
.product-slbody .container .cortain .convoy .content .sale{
position: absolute;
left:10px;
top: 10px;
background:<?php echo $firstcolorx ?>;
background-color: red;
text-align: center;
padding: 5px 10;
font-weight: bold;
color: #FFF;
border-radius: 4px;
}
.product-slbody .container .cortain .convoy .content img{
width: 100%;
user-select: none;
height: auto;
}
.product-slbody .container .cortain .convoy .content .data{
background: #FFF;
text-align: center;
font-size: 13px;
font-weight: bold;
color:<?php echo $secondcolorx ?>;
margin-top: -3px;
padding: 20px;
font-family:"Arial";
}
.product-slbody .container .cortain  .convoy .content .data .title{
margin-bottom: 7px;
display: block;
font-size: 13px;
text-transform: capitalize;
}
.product-slbody .container .cortain .convoy .content .data .price {
width: 75px;
padding: 2px;
margin: 0 auto;
display: block;
color: #FFF;
border-radius: 16px;
background:<?php echo $firstcolorx ?>;
background: red;
}
.product-slbody .container .cortain .prev,.cortain .next{
color: silver;
cursor: pointer;
text-align: center;
position: absolute;
transition:all 0.4s ease-in-out;
font-size: 30px;
opacity: 0.89;
}
.product-slbody .container .cortain .prev{
left: 19px;
top: 40%;
}
.product-slbody .container .cortain .next{
right: 5px;
top: 40%;
}
.product-slbody .container .cortain .hidebtn{
display: none;
}
.product-slbody .container .cortain .prev:hover{
opacity: 1;
}
.product-slbody .container .cortain .next:hover{
opacity: 1;
}
@media (max-width: 768px) {
.product-slbody .container .cortain{
width:100%;
}
.product-slbody .container .cortain .prev ,.cortain .next{
display: none;
}
}
.left{
	width:800px;
	margin:100px auto;
}